<div class="py-3">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<p class="mb-0">© 2020 GAMEBOOK All rights reserved</p>
			</div>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- twzipcode -->
<script th:src="@{/js/jquery.twzipcode.min.js}"></script>
<!-- ckeditor -->
<script src="//cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>