<!DOCTYPE html>
<html lang="en">
<div th:insert="~{/web/layouts/head}"></div>

<body>
	<div th:insert="~{/web/layouts/navbar}"></div>
	<div class="container my-4">
		<div class="row justify-content-center">
			<div class="col-md-12">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">首頁</a></li>
						<li class="breadcrumb-item active" aria-current="page">我的購物車</li>
					</ol>
				</nav>
			</div>
			<form th:if="${session.cartSize > 0}" class="col-md-12" method="post" action="/cart/update">
				<div class="row">
					<div class="my-3 col-md-12 col-lg-12">
						<h4>我的購物車</h4>
						<p>目前有 [[${session.cartSize}]] 個未結帳商品</p>
						<p>*更新數量後請點擊"更新購物車"</p>
						<div class="table-responsive">
							<table class="table bg-light table-sm" style="font-size: 18px;">
								<thead>
									<tr>
										<td>圖片</td>
										<td>商品名稱</td>
										<td colspan="2">數量</td>
										<td>單價</td>
										<td colspan="2">金額</td>
									</tr>
								</thead>
								<tbody>
									<tr th:each="product:${products}">
										<td>
											<a th:href="@{'/product/'+${product.id}}">
												<img th:src="@{'/uploads/product/'+${product.folder}+'/'+${product.header}}"
													style="max-width: 8rem;">
											</a>
										</td>
										<td style="vertical-align: middle;">
											[[${product.name}]]
										</td>
										<td style="vertical-align: middle;">
											<input type="number" name="quantity[]"
												th:value="${quantities.get(product.id)}" class="form-control" min="1"
												style="width:75px;">
										</td>
										<td style="vertical-align: middle;">
											<a th:href="@{'/cart/delete/'+${product.id}}">
												<i class="fa fa-trash-o fa-2x text-danger" aria-hidden="true"></i>
											</a>
										</td>
										<td style="vertical-align: middle;">NT$ [[${product.price}]]
										</td>
										<td style="vertical-align: middle;" colspan="2">
											[[${amount.get(product.id)}]]
										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="7">
											<h5 class="text-right">商品總額</h5>
											<h6 class="text-right total">NT$ [[${total}]]</h6>
										</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
				<div class="my-3 col-md-12 col-lg-12">
					<div class="row justify-content-end">
						<button type="submit" class="btn btn-dark col-5 col-md-4 col-lg-3">
							<i class="fa fa-repeat mr-1" aria-hidden="true"></i>更新購物車</button>
					</div>
				</div>
				<div class="col-md-12 col-lg-12">
					<div class="row justify-content-between">
						<a href="/product?category=" class="btn btn-light mr-auto col-5 col-md-4 col-lg-3">
							<i class="fa fa-chevron-left mr-1" aria-hidden="true"></i>繼續購物
						</a>
						<a th:if="${session.isLogin}" href="/checkout/receiver"
							class="btn btn-dark  col-5 col-md-4 col-lg-3">我要結帳
							<i class="fa fa-chevron-right ml-1" aria-hidden="true"></i></a>
						<a th:if="${session.isLogin == null || !session.isLogin}" href="/login" type="button"
							class="btn btn-dark col-5 col-md-3 col-lg-3">
							<i class="fa fa-sign-in mr-1" aria-hidden="true"></i>登入後結帳</a>
					</div>
				</div>
			</form>
			<div th:if="${session.cartSize == null || session.cartSize == 0}" class="my-5 py-5 col-md-10 col-lg-8">
				<div class="card my-5 text-center">
					<div class="card-body">
						<h5>目前購物車沒有商品，請至<a href="/product?category=">商品專區</a>進行購物。</h5>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div th:insert="~{/web/layouts/footer}"></div>
	<!-- 訊息視窗 -->
	<div class="modal fade" id="info-modal" tabindex="-1" role="dialog" aria-labelledby="info" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title ">訊息</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body text-center">
					<p class="text-center text-muted">成功更新數量!</p>
					<button type="button" class="btn btn-primary" data-dismiss="modal">確定</button>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(function () {
			// $('#info-modal').modal();
			// $('.modal-body>p').html('成功移除一個商品!');
		});
	</script>
</body>

</html>