<!DOCTYPE html>
<html lang="en">
<div th:insert="~{/web/layouts/head}"></div>

<body>
	<div th:insert="~{/web/layouts/navbar}"></div>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12">
				<nav class="my-3" aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">首頁</a></li>
						<li class="breadcrumb-item active" aria-current="page">登入&註冊</li>
					</ol>
				</nav>
			</div>
			<form class="row m-4 p-4 col-md-6 col-lg-5 justify-content-center bg-light" method="post" action="/loging">
				<div class="form-row justify-content-center mb-3">
					<h3 class="mb-4">會員登入</h3>
					<div th:if="${error}" class="alert alert-danger col-12" role="alert">
						[[${error}]]
					</div>
					<div class="form-group col-12 ">
						<input type="email" class="form-control" name="email" placeholder="請輸入Eamil">
					</div>
					<div class="form-group col-12">
						<input type="password" class="form-control" name="password" placeholder="請輸入密碼">
					</div>
					<button type="submit" class="btn btn-dark col-12">登入</button>
				</div>
				<div class="col-md-12">
					<div class="row justify-content-center">
						<div>
							<a class="text-info col-md-12" href="/register">還沒註冊嗎?</a>
						</div>
						<div>
							<a class="text-info col-md-12" href="/admin/login">管理員登入</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div th:insert="~{/web/layouts/footer}"></div>
</body>

</html>