<!DOCTYPE html>
<html lang="en">
<div th:insert="~{/web/layouts/head}"></div>

<body>
	<div th:insert="~{/web/layouts/navbar}"></div>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12">
				<nav class="my-3" aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">首頁</a></li>
						<li class="breadcrumb-item active" aria-current="page">登入&註冊</li>
					</ol>
				</nav>
			</div>
			<div class="row m-4 p-4 col-md-6 col-lg-5 justify-content-center bg-light">
				<div class="form-row justify-content-center mb-4">
					<h3 class="mb-4">註冊成功!</h3>
					<p class="text-center">您可前往產品頁面瀏覽商品。</p>
					<p><a href="/product?category=">前往購物</a></p>
				</div>
			</div>
		</div>
	</div>
	<div th:insert="~{/web/layouts/footer}"></div>
</body>

</html>