<!DOCTYPE html>
<html lang="en">
<div th:insert="~{/web/layouts/head}"></div>

<body>
	<div th:insert="~{/web/layouts/navbar}"></div>
	<div class="container">
		<div class="row">
			<div class="my-3 col-md-12">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">首頁</a></li>
						<li class="breadcrumb-item active" aria-current="page">會員資料</li>
					</ol>
				</nav>
			</div>
			<div class="mb-4 col-md-12 col-lg-2 text-center" style="font-size:18px;">
				<div class="list-group">
					<a href="#" class="list-group-item list-group-item-action disabled bg-light">
						<i class="fa fa-user-circle-o mr-1" aria-hidden="true"></i>會員專區
					</a>
					<a href="/user/orders" class="list-group-item list-group-item-action">
						<i class="fa fa-list mr-1" aria-hidden="true"></i>我的訂單
					</a>
					<a href="/user/account" class="list-group-item list-group-item-action bg-dark text-light">
						<i class="fa fa-user mr-1" aria-hidden="true"></i>會員資料
					</a>
					<a href="/logout" class="list-group-item list-group-item-action">
						<i class="fa fa-sign-out mr-1" aria-hidden="true"></i>登出
					</a>
				</div>
			</div>
			<div class="col-lg-10" style="font-size: 20px;">
				<h4>會員資本資料</h4>
				<small>編輯您的會員資料</small>
				<br>
				<small>此資料提供我們寄送商品資訊，請務必填寫真實資料</small>
				<p></p>
				<h5>變更密碼</h5>
				<div th:if="${success_password}" class="alert alert-success">
					<strong>[[${success_password}]]</strong>
				</div>
				<div th:if="${error_password}" class="alert alert-danger">
					<strong>[[${error_password}]]</strong>
				</div>
				<form method="post" action="/user/updatePassword">
					<div class="form-row">
						<div class="form-group col-md-5">
							<label for="password">舊密碼</label>
							<input type="password" class="form-control" id="password" name="password">
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-5">
							<label for="new_password">新密碼</label>
							<input type="password" class="form-control" id="new_password" name="new_password">
						</div>
						<div class="form-group col-md-5">
							<label for="confirm_password">再次輸入新密碼</label>
							<input type="password" class="form-control" id="confirm_password" name="confirm_password">
						</div>
					</div>
					<button type="submit" class="btn btn-success">更改密碼</button>
				</form>
				<h5 class="my-4">個人資料</h5>
				<div th:if="${success}" class="alert alert-success">
					<strong>[[${success}]]</strong>
				</div>
				<form method="post" action="/user/update">
					<div class="form-row">
						<div class="form-group col-md-7">
							<label for="email">Email</label>
							<input type="email" class="form-control" id="email" name="email" th:value="${user.email}"
								disabled>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-3">
							<label for="name">姓名</label>
							<input type="text" class="form-control" id="name" name="name" th:value="${user.name}">
						</div>
						<div class="form-group row ml-3 col-md-4">
							<label for="gender" class="col-3 col-form-label text-right">性別</label>
							<div>
								<select class="form-control" id="gender" name="gender">
									<option th:selected="${user.gender} == '0'" value="0">未知</option>
									<option th:selected="${user.gender} == '1'" value="1">男</option>
									<option th:selected="${user.gender} == '2'" value="2">女</option>
								</select>
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-3">
							<label for="phone">家用電話</label>
							<input type="text" class="form-control" id="phone" name="phone" th:value="${user.phone}">
						</div>
						<div class="form-group col-md-4">
							<label for="mobile">行動電話</label>
							<input type="text" class="form-control" id="mobile" name="mobile" th:value="${user.mobile}">
						</div>
					</div>
					<div id="twzipcode" class="form-row">
						<div class="form-group col-md-2">
							<label for="zipcode">郵遞區號</label>
							<input type="text" class="form-control" id="zipcode" name="zipcode">
						</div>
						<div class="form-group col-md-3">
							<label for="county">縣市</label>
							<select id="county" class="form-control" name="county">
								<option selected></option>
							</select>
						</div>
						<div class="form-group col-md-3">
							<label for="district">區域</label>
							<select type="text" class="form-control" id="district" name="district"></select>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-8">
							<label for="address">地址</label>
							<input type="text" class="form-control" id="address" name="address"
								th:value="${user.address}">
						</div>
					</div>
					<button type="submit" class="btn btn-success">更新資料</button>
				</form>
			</div>
		</div>
	</div>
	<div th:insert="~{/web/layouts/footer}"></div>
	<!-- twzipcode -->
	<script src="/js/jquery.twzipcode.min.js"></script>
	<script>
		$(function () {
			$("#twzipcode").twzipcode({
				'zipcodeSel': "[[${user.zip}]]",
				'countySel': "[[${user.county}]]",
				'districtSel': "[[${user.district}]]",
			});
			$('#twzipcode').find('select[name="county"]').eq(1).remove();
			$('#twzipcode').find('select[name="district"]').eq(1).remove();
			$('#twzipcode').find('input[name="zipcode"]').eq(1).remove();
		})
	</script>
</body>

</html>