<nav class="navbar navbar-expand-xl navbar-light bg-light ">
	<div class="container">
		<a class="navbar-brand" href="/">
			<img src="/img/logo.png" alt="GAMEBOOK" style="max-width: 10rem; position:relative; top: 7px;">
		</a>
		<button class="navbar-toggler navbar-toggler-right " data-toggle="collapse" data-target="#collapse1">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapse1">
			<ul class="navbar-nav ml-auto mr-3">
				<li class="nav-item"><a class="nav-link" href="/about">關於我們</a></li>
				<li class="nav-item"><a class="nav-link" href="/news">最新消息</a></li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
						aria-haspopup="true" aria-expanded="false">遊戲商店</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/product?category=" style="font-size: 16px;">全部</a>
						<a th:each="category:${categories}" class="dropdown-item"
							th:href="@{'/product?category='+${category.id}}"
							style="font-size: 16px;">[[${category.category}]]</a>
					</div>
				</li>
				<li class="nav-item"><a class="nav-link" href="/contact">聯絡我們</a></li>
			</ul>
			<ul class="navbar-nav">
				<li th:if="${session.isLogin}" class="nav-item dropdown">
					<a class="nav-link dropdown-toggle " data-toggle="dropdown" href="w" role="button"
						aria-haspopup="true" aria-expanded="false" style="font-size: 14px;">
						<span>[[${session.user.get("email")}]]</span>您好
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/user/orders" style="font-size: 16px;">會員專區</a>
						<a class="dropdown-item" href="/logout" style="font-size: 16px;">登出</a>
					</div>
				</li>
				<li th:unless="${session.isLogin}" class="nav-item">
					<a class="nav-link" href="/login">
						<i class="fa fa-user mr-1 fa-lg"></i>登入/註冊
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/cart">
						<i class="fa fa-shopping-cart fa-lg mr-1"></i>
						([[${(session.cartSize > 0) ? session.cartSize : 0}]])
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>